.dictionary {
    min-height: 500px;
    margin-top: 10px;
    padding: 30px 15px;
    background: #a8a83547;
}

.dictionary .wordSearch {
    margin: 10px 20px;
    padding: 14px;
    width: 400px;
    border: 2px solid #0002ff;
    font-size: 16px;
}

.dictionary .btnSearch {
    padding: 10px 20px;
    border: 2px solid #0002ff;
    text-align: center;
    color: #0002ff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1em;
}