.Phonetics {
    font-size: 20px;
    margin-top: 20px;
}

.Phonetics .audio {
    text-decoration: none;
    margin-right: 20px;
}

@media(max-width: 500px) {
    .Phonetics {
        display: none;
    }
}