.Results h2 {
    margin-top: 20px;
    color: #0002ff;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.menSect {
    background: #f9f9f347;
    padding: 10px 50px;
    margin: 20px 80px;
    border-radius: 6px;
}

@media(max-width: 500px) {
    .Results h2 {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .menSect {
        padding: 5px 15px;
        margin: 8px 15px;
    }
}